.newpost {
  padding: 25px;

  .content {
    >h2 {
      margin-top: 0;
    }
  }

  .profile {
    margin-bottom: 10px;

    .circle-img {
      margin-right: 10px;
    }
  }

  .title {
    font-size: 18px;
  }

  .dimmer {
    margin-top: 75px;

    .spinner {
      margin-top: -92px;
    }
  }
}
