<!DOCTYPE html>
<html>
  <head>
    <meta charSet='utf-8'/>
    <meta httpEquiv='X-UA-Compatible' content='IE=edge'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/login-page.css" media="screen" charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/components/form.min.js" charset="utf-8"></script>
    <title>Login - Task Box</title>
  </head>
  <body>
    <div class="grid">
      <div class="loginpanel">
        <h2 class="title">
          <img src="/assets/task_logo.png" class="image">
          <span class="content">Log-in to Task-Box</span>
        </h2>
        <div class="panel panel-default">
          <form class="form">
            <div class="form-group">
              <i class="glyphicon glyphicon-user"></i>
              <input type="text" class="form-control" name="uid" placeholder="Username">
              <span class="help-block hide">Your name is required</span>
            </div>
            <div class="form-group">
              <i class="glyphicon glyphicon-paperclip"></i>
              <input type="password" class="form-control" name="pwd" placeholder="Password">
              <span class="help-block hide">Your password is required</span>
            </div>
            <button type="button" class="submit btn btn-primary btn-block">Login</button>
            <span class="help-block errormessage"></span>
          </form>
        </div>
      </div>
    </div>
    <script src="/assets/login-page.js" charset="utf-8"></script>
  </body>
</html>
