.page-heading {
  border-top: 0;
  padding: 0px 10px 20px 10px;
  margin: 0 -25px 20px;
}

.breadcrumb {
  background-color: #ffffff;
  padding: 0;
  margin-bottom: 0;
}

.breadcrumb > li a {
  color: #777;
  cursor: pointer;
}

.breadcrumb >.active {
  font-weight: bold;
}
