html, body {
  height: 100%;
}
body {
  font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
}
kbd {
  background-color: #f4f7f8;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0,0,0,.2),0 2px 0 0 rgba(255,255,255,.7) inset;
  font-family: Consolas,"Liberation Mono",Courier,monospace;
  font-size: .85em;
  font-weight: 700;
  line-height: inherit;
  padding: 2px 4px;
  margin: 0 4px;
  white-space: nowrap;
}
#root, #page-container, #content {
  height: 100%;
}
#page-container {
  padding-top: 54px;
}
#content {
  margin-left: 220px;
  padding: 20px 25px;

  .scrollcontent { height: 100%; }
}
