.btn {
  border-radius: 3px;
  outline: 0 !important;
}
.btn.btn-white {
  font-weight: 400;
  color: #333;
  background: #fff;
  border-color: #e2e7eb;
}
.btn-white.active, .btn-white:active, .btn-white:focus, .btn-white:hover, .open .dropdown-toggle.btn-white {
  background: #e2e7eb;
  border-color: #d8dde1;
  outline: 0;
}
.btn.btn-success {
  color: #fff;
  background: #00acac;
  border-color: #00acac;
}
.btn.btn-success.active, .btn.btn-success:active, .btn.btn-success:focus, .btn.btn-success:hover, .open .dropdown-toggle.btn-success {
  background: #008a8a;
  border-color: #008a8a;
}
.btn.btn-primary {
  color: #fff;
  background: #348fe2;
  border-color: #348fe2;
}
.btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open .dropdown-toggle.btn-primary {
  background: #2a72b5;
  border-color: #2a72b5;
}
.btn.btn-info {
  color: #fff;
  background: #49b6d6;
  border-color: #49b6d6;
}
.btn-info.active, .btn-info:active, .btn-info:focus, .btn-info:hover, .open .dropdown-toggle.btn-info {
  background: #3a92ab;
  border-color: #3a92ab;
}
.btn.btn-warning {
  color: #fff;
  background: #f59c1a;
  border-color: #f59c1a;
}
.btn-warning.active, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open .dropdown-toggle.btn-warning {
  background: #c47d15;
  border-color: #c47d15;
}
.btn.btn-default {
  color: #fff;
  background: #b6c2c9;
  border-color: #b6c2c9;
}
.btn-default.active, .btn-default:active, .btn-default:focus, .btn-default:hover, .open .dropdown-toggle.btn-default {
  background: #929ba1;
  border-color: #929ba1;
}
.btn.btn-danger {
  color: #fff;
  background: #ff5b57;
  border-color: #ff5b57;
}
.btn-danger.active, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open .dropdown-toggle.btn-danger {
    background: #cc4946;
    border-color: #cc4946;
}
.btn.btn-inverse {
  color: #fff;
  background: #2d353c;
  border-color: #2d353c;
}
.btn-inverse.active, .btn-inverse:active, .btn-inverse:focus, .btn-inverse:hover, .open .dropdown-toggle.btn-inverse {
  background: #242a30;
  border-color: #242a30;
}

.btn-icon, .btn.btn-icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  padding: 0;
  border: none;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
}
.btn-icon.btn-xs {
  width: 16px;
  height: 16px;
  font-size: 8px;
  line-height: 16px;

  .fa {
    font-size: 12px;
    transform: scale(0.67);
  }
}
.btn-circle, .btn.btn-circle {
  border-radius: 50%;
}
