.block-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 120px;
  text-align: center;
}

.task-free {
  .fa {
    font-size: 64px;
  }
  p {
    margin: 20px 0;
    font-size: 20px;
  }
}

.modal-dialog {
  width: 450px;

  .form-group>label {
    font-size: 14px;
  }

  input, textarea { font-size: 12px; resize: none; }
  select.form-control { font-size: 12px; }

  img.avatar {
    display: inline-block;
    overflow: hidden;
    width: 25px;
    height: 25px;
    border-radius: 50%;

    margin-right: 8px;
  }

  .assigner {
    position: relative;

    .rlist {
      display: inline-block;
      margin: 0 8px;

      .avatar {
        cursor: pointer;
      }
    }
  }

  .help-text { margin-right: 8px; }
}

.page-heading {
  .navbar {
    border-style: none;
    background-color: inherit;
    margin: 10px -15px -10px -15px;
  }
}
