.task-dimmer .spinner>div {
  border: 2px solid #00acac;
  border-bottom-color: transparent;
}

.task-dimmer {
  // background-color: steelblue;
  text-align: center;

  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -17px;
    margin-top: -17px;
  }
}

.panel {
  border-style: none;
  border-radius: 3px;
}
.panel-inverse>.panel-heading {
  background: #242a30;
  color: #fff;
}
.panel-heading {
  padding: 10px 15px;
  border: none;
}
.panel-btn-heading {
  float: right;

  &>a { margin-left: 8px; }
}
.panel-title {
  font-size: 12px;
}
.panel-title {
  line-height: 20px;
}
